src/conf/xml-resources/web-service-references/HotelResource/wsdl/localhost_8080/HotelReservationService/HotelResource.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dtu.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dtu.ws/" name="HotelResource">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/HotelReservationService/HotelResource?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://dtu.ws/" schemaLocation="http://localhost:8080/HotelReservationService/HotelResource?xsd=2"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<portType name="HotelResource">
<operation name="getHotels">
<input wsam:Action="http://dtu.ws/HotelResource/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://dtu.ws/HotelResource/getHotelsResponse" message="tns:getHotelsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.ws/HotelResource/getHotels/Fault/Exception"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://dtu.ws/HotelResource/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://dtu.ws/HotelResource/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.ws/HotelResource/bookHotel/Fault/Exception"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://dtu.ws/HotelResource/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://dtu.ws/HotelResource/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.ws/HotelResource/cancelHotel/Fault/Exception"/>
</operation>
</portType>
<binding name="HotelResourcePortBinding" type="tns:HotelResource">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="HotelResource">
<port name="HotelResourcePort" binding="tns:HotelResourcePortBinding">
<soap:address location="http://localhost:8080/HotelReservationService/HotelResource"/>
</port>
</service>
</definitions>