web/WEB-INF/wsdl/localhost_8080/AirlineReservationService/AirlineResourceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dtu.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dtu.ws/" name="AirlineResourceService">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/AirlineReservationService/AirlineResourceService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://dtu.ws/" schemaLocation="http://localhost:8080/AirlineReservationService/AirlineResourceService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFlight">
<part name="parameters" element="tns:getFlight"/>
</message>
<message name="getFlightResponse">
<part name="parameters" element="tns:getFlightResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<portType name="AirlineResource">
<operation name="getFlight">
<input wsam:Action="http://dtu.ws/AirlineResource/getFlightRequest" message="tns:getFlight"/>
<output wsam:Action="http://dtu.ws/AirlineResource/getFlightResponse" message="tns:getFlightResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://dtu.ws/AirlineResource/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://dtu.ws/AirlineResource/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.ws/AirlineResource/bookFlight/Fault/Exception"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://dtu.ws/AirlineResource/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://dtu.ws/AirlineResource/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.ws/AirlineResource/cancelFlight/Fault/Exception"/>
</operation>
</portType>
<binding name="AirlineResourcePortBinding" type="tns:AirlineResource">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineResourceService">
<port name="AirlineResourcePort" binding="tns:AirlineResourcePortBinding">
<soap:address location="http://localhost:8080/AirlineReservationService/AirlineResourceService"/>
</port>
</service>
</definitions>